<div class="row login">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s6"><a class="active" href="#test1">Авторизація</a></li>
            <li class="tab col s6"><a href="#test2">Реєстрація</a></li>
        </ul>
    </div>
    <div id="test1" class="col s12">

        {{#if error}}
            <p class="alert">{{error}}</p>
        {{/if}}

        <h2>Авторизація</h2>
        <form action="/auth/login" method="POST">

            <div class="input-field">
                <input name="email" id="email" type="email" class="validate" required>
                <label for="email">Email</label>
                <span class="helper-text" data-error="Введите email"></span>
            </div>

            <div class="input-field">
                <input name="password" id="password" type="password" class="validate" required>
                <label for="password">Пароль</label>
                <span class="helper-text" data-error="Введите пароль"></span>
            </div>

            <p><a href="/auth/reset">Забули пароль?</a></p>

            <input type="hidden" name="_csrf" value="{{csrf}}">

            <button class="btn red" type="submit">Ввійти</button>

        </form>
    </div>
    <div id="test2" class="col s12">
        <h2>Реєстрація</h2>
        <form action="/auth/register" method="POST">
            <div class="input-field">
                <input name="email" id="remail" type="email" class="validate" required>
                <label for="remail">Email</label>
                <span class="helper-text" data-error="Введите email"></span>
            </div>

            <div class="input-field">
                <input name="password" id="rpassword" type="password" class="validate" required>
                <label for="rpassword">Пароль</label>
                <span class="helper-text" data-error="Введите пароль"></span>
            </div>

            <div class="input-field">
                <input name="confirm" id="confirm" type="password" class="validate" required>
                <label for="confirm">Пароль еще раз</label>
                <span class="helper-text" data-error="Пароль еще раз"></span>
            </div>

            <div class="input-field">
                <input name="name" id="name" type="text" class="validate" required>
                <label for="name">Ваше имя</label>
                <span class="helper-text" data-error="Ваше имя"></span>
            </div>
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <button class="btn red" type="submit">Зареєструваться</button>
        </form>
    </div>
</div>